body{
    background-color: #faf8f8;
    font-family: 'Open Sans', sans-serif;
}


.main-section{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}
.first-section{
    width: 50%;
    margin-left: 250px;
    margin-top: 40px;
}

.second-section{
    width: 50%;
}

p{
    font-size: 30px;
    margin-top: 0;
}

.div1{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.div2{
    width: 350px;
    height: 350px;
    outline: none;
    border-radius: 10px;
    align-items: center;
    background-color: white;
}

.div2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 4px 15px rgb(128, 111, 111);
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}

.div2 form input{
    width: 320px;
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgb(102, 86, 86);
    padding: 10px;
}
.btn{
    width: 335px;
    height: 40px;
    background: rgb(94, 94, 250);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.btn2{
    width: 190px;
    height: 45px;
    background-color: rgb(22, 146, 22);
    color: white;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
}
.hr-style{
    
    border:  0.01px solid rgb(102, 86, 86);
    border-width: 0.01px;
    width: 350px;
}

img{
    width: 250px;
    margin-top: 10px;
}