*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #072e4c;
	color: #000;
	
	display: flex;
	min-height: 100vh;
	align-items: center;
}

.main-div{
	max-width: 600px;
	width: 100%;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	border-radius: 30px;
	background: linear-gradient(to bottom, #007193 50%, #06024e);
}
h1{
	margin: 0 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 36px;
}

.result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.result-container span{
    border: 3px solid white;
    width: 300px;
    height: 45px;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
}

.result-container .btn{
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    margin-left: 5px;
}

.options{
    line-height: 15px;
}

.length{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}
.length label{
    margin-right: 10px;
    font-size: 25px;
}